@import "../../../assets/css/common.scss";

.body {
    margin: 10px auto;
    padding: 0px 20px 10px 20px;
}
.management-toolbar {
    box-shadow: 10px grey;
    color: #fff;
    background-color: $admin-primary;
}

.flex-spacer {
    flex-grow: 1;
    display: block;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 7px;
    width: 100%;
}

.link {
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.management-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}

.management-toolbar {
    position: fixed;
    width: 100%;
    min-width: 100%;
    z-index: 2;
    padding: 0;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
        0 1px 18px 0 rgb(0 0 0 / 12%);
}

h1.management-app-name {
    margin-left: 8px;
}

.management-sidenav-container {
    flex: 1;
    padding-top: 80px;
}

.management-is-mobile .management-sidenav-container {
    flex: 1 0 auto;
}

.menu {
    position: relative;
    .box-menu {
        position: absolute;
        width: 300px;
        z-index: 9;
        animation: fadeIn 0.5s ease-in;
        h3 {
            cursor: pointer;
        }
    }
    button {
        line-height: 0px;
        width: 30px;
        min-width: 30px;
        padding-top: 8px;
        margin-right: 20px;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.item {
    padding-bottom: 15px;
    width: 100%;
    input {
        padding: 10px;
        width: 97%;
    }
    button {
        margin-top: 10px;
        border-radius: 10px;
    }
}
.inline-block {
    display: inline-block;
    position: relative;
    .icon {
        position: absolute;
        font-size: 27px;
        padding-left: 20px;
    }
}
.right {
    text-align: right;
    button {
        margin-left: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}
.group-right {
    padding-top: 15px;
    button {
        margin-right: 10px;
    }
}
